# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg
.vscode
.cursor
venv



# Environment variables
.env
frontend/.env
.env.local

# Database
*.db
*.sqlite3


# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
htmlcov/
.coverage
